@using Web1670.Models
@model Order
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vh-100" style="background-color: #fffffc;">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form asp-controller="Order" asp-action="Create" method="post">
                            <h3 class="mb-5">Create Order</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="orderFullname" autocomplete="orderFullname" class="form-control" aria-required="true" />
                                <label asp-for="orderFullname">Full Name</label>
                                <span asp-validation-for="orderFullname" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="orderAddress" autocomplete="orderAddress" class="form-control" aria-required="true" />
                                <label asp-for="orderAddress">Address</label>
                                <span asp-validation-for="orderAddress" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="orderDate" autocomplete="orderDate" class="form-control" aria-required="true" />
                                <label asp-for="orderDate">Date</label>
                                <span asp-validation-for="orderDate" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="orderPhone" autocomplete="orderPhone" class="form-control" aria-required="true" />
                                <label asp-for="orderPhone">Phone Number</label>
                                <span asp-validation-for="orderPhone" class="text-danger"></span>
                            </div>

                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<</section>

