@using Web1670.Models
@model Order
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Order" asp-action="Create" method="post">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Create Order</span></h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div>
                Name: <input type="text" asp-for="orderFullname" /><span asp-validation-for="orderFullname"></span>
            </div>
            </br>
            <div>
                Address: <input type="text" asp-for="orderAddress" /><span asp-validation-for="orderAddress"></span>
            </div>
            </br>
            <div>
                Date: <input type="date" asp-for="orderDate" /><span asp-validation-for="orderDate"></span>
            </div>
            </br>
            <div>
                Telephone: <input type="text" asp-for="orderPhone" /><span asp-validation-for="orderPhone"></span>
            </div>
            </br>
            <input class="btn btn-primary" type="submit"  value="Submit" />
        </div>
    </div>
</form>