@using Web1670.Models

@model Book
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form asp-controller="Book" asp-action="Create" method="post">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Create book</span></h2>
    </div>
    <div class="card">
        <div class ="card-body">
            <form>
                <div>
                   Name: <input type="text" asp-for="bookName" /><span asp-validation-for="bookName"></span>
                </div>
                </br>
                <div>
                    Description:<input type="text" asp-for="bookDescription" />
                </div>
                </br>
                <div>
                    Datetime:<input type="date" asp-for="bookDate" /><span asp-validation-for="bookDate"></span>
                </div>
                </br>
                <div>
                    Quantity:<input type="text" asp-for="bookQuantity" />
                </div>
                </br>
                <div>
                    Price:<input type="text" asp-for="bookPrice" />
                </div>
                </br>
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <select asp-for="pubID" asp-items="ViewBag.pubID" class="form-control">
                        <option>Select Publisher</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <input type="submit" value="Submit" />
    <a asp-action="Index"> Back to list</a>
</form>
@section scripts{   
    <partial name="_ValidationScriptsPartial" />
}
