@using Web1670.Models

@model Book
<form asp-controller="Book" asp-action="Create" method="post">
    <h1>Create Book</h1>
    <div class="mb-3">
        Name: <input type="text" asp-for="bookName" /><span asp-validation-for="bookName"></span>
    </div>
    <div class="mb-3">
        Des:<input type="text" asp-for="bookDescription" />
    </div>
    <div class="mb-3">
        Price:<input type="text" asp-for="bookPrice" />
    </div>
    <div class="form-group">
        <label asp-for="Publisher" class="control-label"></label>
        <select asp-for="pubID" asp-items="ViewBag.pubID" class="form-control">
            <option>Select Publisher</option>           
        </select>
    </div>
    <br />
    <input type="submit" value="Submit" />
</form>
@section scripts{   
    <partial name="_ValidationScriptsPartial" />
}
