@using Web1670.Models

@model Book
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<form asp-controller="Book" asp-action="Edit" method="post" asp-route-id="@Model.bookID" asp-route-img="@Model.urlImage" enctype="multipart/form-data">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Update Book</span></h2>
    </div>
    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Name: <input type="text" asp-for="bookName" /><span asp-validation-for="bookName"></span>
                </div>
                </br>
                <div>
                    Description:<input type="text" asp-for="bookDescription" /><span asp-validation-for="bookDescription"></span>
                </div>
                </br>
                <div>
                    Datetime:<input type="date" asp-for="bookDate" /><span asp-validation-for="bookDate"></span>
                </div>
                </br>
                <div>
                    Quantity:<input type="number" asp-for="bookQuantity" min="1"/><span asp-validation-for="bookQuantity"></span>
                </div>
                </br>
                <div>
                    Price:<input type="number" asp-for="bookPrice" min="1" /><span asp-validation-for="bookPrice"></span>
                </div>
                </br>
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <select asp-for="pubID" asp-items="ViewBag.pubID" class="form-control">
                        <option>Select Publisher</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="cateID" asp-items="ViewBag.cateID" class="form-control">
                        <option>Select Publisher</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" type="file" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" style="width: 100%" class="form-control" />
                    <div> <img src="~/uploads/@Model.urlImage" style="height:200px;width:250px" id="image" /></div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
                <a asp-action="Index"> Back to list</a>
            </form>
        </div>
    </div>
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var render = new FileReader();

            render.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }
              render.readAsDataURL(fileInput.files[0]);
            }
        }
</script>