@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="main-wrapper"
     data-layout="vertical"
     data-navbarbg="skin5"
     data-sidebartype="full"
     data-sidebar-position="absolute"
     data-header-position="absolute"
     data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body wizard-content">
                    <h4 class="card-title">Role Form</h4>
                    <h6 class="card-subtitle"></h6>
                    <form asp-controller="AppRoles" asp-action="Create" method="post">
                        <div>
                            <section>                          
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" aria-required="true" />
                            </section>
                        </div>
                        </br>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>