@using Web1670.Models
@model Publisher
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<form asp-controller="Publisher" asp-action="Create" method="post">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Create Publisher</span></h2>
    </div>
    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Name: <input type="text" asp-for="pubName" /><span asp-validation-for="pubName"></span>
                </div>
                </br>
                <div>
                    Description: <input type="text" asp-for="pubDescription" /><span asp-validation-for="pubDescription"></span>
                </div>
                </br>
                <div>
                    Address: <input type="text" asp-for="pubAddress" /><span asp-validation-for="pubAddress"></span>
                </div>
                </br>
                <div>
                    Telephone: <input type="text" asp-for="pubTelephone" /><span asp-validation-for="pubTelephone"></span>
                </div>
                </br>   
                <input type="submit" value="Submit" />
                <a asp-action="Index"> Back to list</a>
            </form>
        </div>
    </div>
</form>
@*@section scripts{
    <partial name="_ValidationScriptsPartial" />
}*@