@using Web1670.Models

@model Publisher
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<div id="main-wrapper"
     data-layout="vertical"
     data-navbarbg="skin5"
     data-sidebartype="full"
     data-sidebar-position="absolute"
     data-header-position="absolute"
     data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body wizard-content">
                    <h4 class="card-title">Publisher Form</h4>
                    <h6 class="card-subtitle"></h6>
                    <form asp-controller="Publisher" asp-action="Edit" method="post">
                        <div>
                            <section>
                                <label asp-for="pubName">Name</label> <span asp-validation-for="pubName"></span>
                                <input type="text" asp-for="pubName" class="form-control" aria-required="true" />
                                <label asp-for="pubDescription">Description</label> <span asp-validation-for="pubDescription"></span>
                                <input type="text" asp-for="pubDescription" class="form-control" aria-required="true" />
                                <label asp-for="pubAddress">Address</label> <span asp-validation-for="pubAddress"></span>
                                <input type="text" asp-for="pubAddress" class="form-control" aria-required="true" />
                                <label asp-for="pubTelephone">Telephone</label> <span asp-validation-for="pubTelephone"></span>
                                <input type="text" asp-for="pubTelephone" class="form-control" aria-required="true" />
                            </section>
                        </div>
                        </br>
                        <input type="submit" value="Submit" />
                        <a asp-action="Index"> Back to list</a>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>